@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px;
  }
  100% {
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px;
  }
  100% {
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.overlayMenu {
  position: static;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: black;
  .my-account-link {
    font-size: 16px;
    display: block;
    color: black;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: -20px;
  }

  .mob-phone {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    border: 1px solid #DDDDDD;
    font-size: 16px;
    margin-bottom: 28px;
    img {
      margin-right: 12px;
      filter: brightness(0);
      max-height: 1.25em;
    }
  }

  .nav-block {
    .nav-title {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 16px;
      display: block;
      font-weight: 400;
    }

    ul {
      margin-top: 0;
      margin-bottom: 28px;
      li {
        opacity: 1;
        a {
          margin: 0;
          color: rgba(0, 0, 0, 0.4);
          font-size: 16px;
          line-height: 28px;
        }
      }
    }

    p {
      color: rgba(0, 0, 0, 0.4);
      font-size: 16px;
      line-height: 24px;
    }
  }

  .mob-overlay-social {
    margin-top: 80px;
    display: flex;
    margin-bottom: 35px;
    justify-content: center;
    a {
      margin: 0 17.5px;

    }

  }
}

.overlayMenu a {
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.overlayMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.overlayMenu ul li a {
  display: inline-block;

  color: #4b4b4b;

  text-decoration: none;
  font-size: 20px;
  margin: 5px 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

/*
.overlayMenu ul li a:hover, .overlayMenu ul li a:active, .overlayMenu ul li a:focus {
  -webkit-transform: translateX(-2px);
  -ms-transform: translateX(-2px);
  transform: translateX(-2px);
  padding-left: 50px;
}*/

.locked {
  overflow: hidden;
}

.overlay {
  position: fixed;
  background: white;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow-y: auto;
  z-index: 8000;
  /*-webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);*/
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  .mobile-header {
    background: none;
    .mob-header-body {
      border-top-color: black;
      border-bottom-color: rgba(0, 0, 0, 0.6);
      .logo, .mob-search {
        img {
          filter: brightness(0);
        }
      }
    }
  }
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  /*-webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);*/
}

/*.overlay.open li {
  display: block;
  -webkit-animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
  animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  transform: rotate(-7deg);
  -webkit-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.overlay.open li:nth-of-type(5) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.overlay.open li:nth-of-type(6) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.overlay.open li:nth-of-type(7) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}*/

.empty-burger {
  width: 30px;
  height: 24px;
}

.navBurger {
  position: static;
  cursor: pointer;
  background: black;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  width: 30px;
  z-index: 1000;

  height: 24px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;

  align-self: center;
}

.navBurger:before, .navBurger:after {
  content: "";
  position: absolute;
  background: black;
  height: 2px;
  width: 100%;
  right: 0;
  will-change: rotate;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navBurger:before {
  top: -10px;
}

.navBurger:after {
  bottom: -10px;
  width: 100%;
}

.navBurger.active {
  background: transparent;
  -webkit-background-clip: content-box;
  background-clip: content-box;

}

.navBurger.active:before {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 0;
  background: black;
  width: 110%;
}

.navBurger.active:after {
  bottom: 0;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background: black;
  width: 110%;
}



