.list-item
  display: flex
  .left-item,
  .right-item
    width: 48%
  .left-item
    text-align: left
  .right-item
    text-align: right

.list li:last-child
  .right-item
    padding-bottom: 4px
    border-bottom: 1px solid #dddede