tr.row-sent
  background: $yellow
tr.row-completed
  background: $green
  color: white
  .order-id
    p
      color: white

tr.row-return, tr.row-return-on-way
  background: $red
  color: white !important
  .green-text, .blue-text, .red-text
    color: white
  .order-id
    p
      color: white
tr.row-lightred
  background: $red-transparent
  color: black !important
  .green-text, .blue-text, .red-text
    color: black
  p
    color: black !important
tr.row-refuse
  background: $pink
  color: white
  .order-id
    p
      color: white

tr.row-success
  background: $teal
  color: white
  .order-id
    p
      color: white

tr.row-not-confirmed, tr.row-util
  background: $brown
  color: white
  .order-id
    p
      color: white

tr.row-success-not-completed
  background: $purple
  color: white
  .order-id
    p
      color: white

tr.row-money-on-way
  background: $olive
  color: white
  .order-id
    p
      color: white

tr.row-on-control
  background: $violet
  color: white
  .order-id
    p
      color: white