tr.row-yellow
  background: $yellow
tr.row-green
  background: $green

tr.row-red
  background: $red

tr.row-lightred
  background: $red-transparent

tr.row-pink
  background: $pink

tr.row-teal
  background: $teal

tr.row-brown
  background: $brown

tr.row-purple
  background: $purple

tr.row-olive
  background: $olive

tr.row-violet
  background: $violet