$main-color: #4385c2
$main-black: #1b1c1e

//table row colors
$red: #db2828
$orange: #FE9A76
$yellow: #ffe767
$dark-yellow: #fbbd08
$olive: #32CD32
$green: #21ba45
$teal: #00b5ad
$blue: #0054ad
$violet: #6435c9
$purple: #a333c8
$pink: #EE82EE
$brown: #a5673f
$grey: #A0A0A0
$black: #000000