$main-color: #4385c2
$main-black: #1b1c1e

//table row colors
$red: #db2828
$orange: #FE9A76
$yellow: #ffe767
$dark-yellow: #fbbd08
$olive: #32CD32
$green: #21ba45
$teal: #00b5ad
$blue: #0054ad
$violet: #6435c9
$purple: #a333c8
$pink: #EE82EE
$brown: #a5673f
$grey: #A0A0A0
$black: #000000
$red-transparent: rgba(219, 40, 40, 0.5)

$green-text: #21ba45
$red-text: #db2828
$blue-text: #0054ad

.green-text
  color: $green-text
.red-text
  color: $red-text
.blue-text
  color: $blue-text
